@font-face {
    font-family: Raleway-ExtraBold;
    src:
      url(./Raleway-ExtraBold.woff2) format('woff2'),
      url(./Raleway-ExtraBold.woff) format('woff');
    font-weight: extrabold;
    font-display: swap;
  }
  
  @font-face {
    font-family: Raleway-Regular;
    src:
      url(./Raleway-Regular.woff2) format('woff2'),
      url(./Raleway-Regular.woff) format('woff');
    font-weight: normal;
    font-display: swap;
  }
  